@use './components/Header/header';
@use './components/Info/info';
@use './pages/UIShell/UIShell';
@use './pages/LandingPage/landing-page';

.app .cds--content {
  margin-top: 3rem;
}


.one-line{
  white-space:nowrap;
}
.line-overflow{
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 60%;
  font-size: 95%;
  font-family: SFMono-Regular,Consolas,Liberation Mono,Menlo,Courier,monospace;
}

.td-width{
  width:10px;
}

.blue{
  .cds--toggle__switch--checked{
    background-color: var(--cds-link-primary, #0f62fe);
  }
}

.float_right{
  float: right;
}

#cds--modal-body--modal-2{
  margin-bottom: 0.5em;
}