@use '@carbon/react';
@use "./pages/Login/Login";
@use "./pages/NotFound/NotFound";
@use "./components/Layout/Layout";
@use "./components/LoginLayout/LoginLayout";

:root {
    --color-white: #fff;
    --color-light-white: #c6c6c6;
    --color-black: #000;
    --bg-primary: #1e1e1e;
    --bg-secondary: #353535;
  }

  html, #root, .App {
    height: 100vh;
  }
.page{
  margin-top: 20px;
}

.line-overflow{
  max-width: 45rem;  
  overflow: hidden;  
  white-space: nowrap;  
  text-overflow: ellipsis;  
  font-size: 95%;
  font-family: SFMono-Regular, Menlo, Monaco, Consolas, monospace;
}

.section {
  padding: 20px;
  display: flex;
  flex-flow: column;

  &:not(:first-child) {
    margin-top: 1rem;
  }
}

.dashboardRightSection {

  //padding: 20px;
  display: flex;
  flex-flow: column;
  border-right: 2px solid;
  &:not(:first-child) {
    margin-top: 1rem;
  }
}

.no-border {
  border: none;
}

.dashboardNumber {
  margin-bottom: 10px;
  font-size: 42px;
  font-weight: 300;

  span {
    font-size: 28px;
  }
}


.mt-4{
  margin-top: 16px;
}

.table-container{
  min-height: 300px;
}

